body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

table {
  margin-top: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  td {
      max-width: 95px;
      overflow: hidden;
  }
  td, th {
      cursor: pointer;

  }
}